@model IEnumerable<Assignment3.Models.Teacher>
@{
    ViewBag.Title = "List";
}
<h2>List of Teachers</h2>
<form action="/Teacher/List" method="GET">
</form>
@foreach (Assignment3.Models.Teacher teacher in Model)
{
    <div class="listitem row">
        <div class="col-md-12"><a href="/Teacher/Show/@teacher.employeenumber">@teacher.teacherfname @teacher.teacherlname</div>
    </div>
}